<section class="event-edit">
  <div class="event-edit-form">
    <h4>イベント編集</h4>
    <div class="event-form">
      <%= form_with model: @event, method: :patch, local:true do |f| %>
        <%= render 'layouts/error', model: f.object%>
        <%= f.label :name, "イベント名" %><br>
        <%= f.text_field :name, :size=>"40x1" %><br>
        <%= f.label :started_at, "開催日時" %><br>
        <%= f.datetime_select :started_at %><br>
        <%= f.label :finished_at, "終了日時" %><br>
        <%= f.datetime_select :finished_at %><br>
        <%= f.label :content, "イベント内容" %><br>
        <%= f.text_area :content, :size=>"40x3" %><br>
        <%= f.label :place, "場所" %><br>
        <%= f.text_field :place, :size=>"40x1" %><br>
        <%= f.label :genre_id, "ジャンル" %><br>
        <%= f.collection_select(:genre_id, @genres, :id, :name) %><br>
        <%= f.label :fee, "参加費" %><br>
        <% if @event_members.present? %>
          <%= @event.fee.to_i.to_s(:delimited) %> 円<br>
          ※申し込みがあってからの参加費変更は受け付けておりません。<br>
        <% else %>
          <%= f.text_field :fee %> 円<br>
        <% end %>
        <%= f.label :event_id, "イベントイメージ" %><br>
        <%= attachment_image_tag @event, :event_image, :fill, 200, 100, format: "jpeg", fallback: "event.png", size:'200x100' %>
        <%= f.attachment_field :event_image, placeholder: "イベントイメージ" %><br>
        <%= f.label :expired_at, "応募締切日時" %><br>
        <%= f.datetime_select :expired_at %><br>
        <%= f.submit "更新する", class: "button is-primary", style: "margin-top: 30px; margin-left: 73%;" %>
      <% end %>
    </div>
    <div class="event-destroy-btn">
      <%= link_to "中止する", event_path(@event), "data-confirm" => "本当に中止しますか？", method: :delete, class: "button is-warning", style: "margin-top: 30px; margin-left: 73%;"  %>
    </div>
  </div>
</section>