<section class="events-index">
  <div class="event-lists">
    <h4>イベント一覧</h4>
    <div class="new-event-btn">
      <%= link_to "イベントを作る", new_event_path, method: :get %>
    </div>
    <div class="event-genre">
      <% @genres.each do |genre| %>
        <%= genre.name %><br>
        <% genre.events.each do |event| %>
          <%= link_to event_path(event), local:true do %>
            <%= attachment_image_tag event, :event_image, :fill, 50, 25, format: "jpeg", fallback: "event_image.jpg", size:'50x25' %>
            <%= event.name %><br>
          <% end %>
          開催日時:<%= event.started_at.strftime("%Y年%-m月%-d日 %H時%M分") %><br><hr>
        <% end %>
      <% end %>
    </div>
    <div class="new-events-list">
      <h4>新着イベント</h4>
      <div class="new-event-lists">
        <% @events.each do |event| %>
          <%= link_to event_path(event), local:true do %>
            <%= attachment_image_tag event, :event_image, :fill, 50, 25, format: "jpeg", fallback: "event_image.jpg", size:'50x25' %>
            <%= event.name %><br>
          <% end %>
          開催日時:<%= event.started_at.strftime("%Y年%-m月%-d日 %H時%M分") %><br><hr>
        <% end %>
      </div>
    </div>
  </div>
</section>