<section class="events-index">
  <div class="genre-search-form">
    <%= search_form_for @q do |f| %>
      <%= f.collection_select :genre_id_eq, @genres, :id, :name, :include_blank => 'ジャンル検索' %>
      <%= f.submit %>
    <% end %>
  </div>

  <div class="address-search-form">
    <%= search_form_for @q do |f| %>
    <%= f.search_field :place_cont, placeholder: "場所で検索" %>
    <%= f.submit %>
    <% end %>
  </div>
  <div class="event-lists">
    <div class="new-event-btn">
      <%= button_to "イベントを作る", new_event_path, method: :get %>
    </div>
    <div class="new-events-list">
      <h4>開催イベント</h4>
      <div class="new-event-list">
        <% @new_events.each do |new_event| %>
        <!--応募締め切りを過ぎたイベントは非表示-->
          <% if new_event.expired_at > DateTime.now %>
            <%= link_to event_path(new_event), local:true do %>
              <%= attachment_image_tag new_event, :event_image, :fill, 50, 25, format: "jpeg", fallback: "event_image.jpg", size:'50x25' %>
              <%= new_event.name %>
            <% end %>
            /<%= new_event.genre.name %>
            @<%= new_event.place %>
            開催日時:<%= new_event.started_at.strftime("%Y年%-m月%-d日 %H時%M分") %><br><hr>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="finished-events-list">
      <h4>開催終了イベント</h4>
      <div class="finished-event-list">
        <% @finished_events.each do |finished_event| %>
          <!--終了時間を過ぎたイベントを表示-->
          <% if finished_event.finished_at < DateTime.now %>
            <%= link_to event_path(finished_event), local:true do %>
              <%= attachment_image_tag finished_event, :event_image, :fill, 50, 25, format: "jpeg", fallback: "event_image.jpg", size:'50x25' %>
              <%= finished_event.name %>
            <% end %>
            /<%= finished_event.genre.name %>
            @<%= finished_event.place %>
            終了日:<%= finished_event.finished_at.strftime("%Y年%-m月%-d日 %H時%M分") %><br><hr>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>