<div class="btn-wrap">
  <!--イベント開催ボタン-->
  <div class="new-event-btn has-text-centered">
    <%= link_to "イベントを開催する", new_event_path, local:true, class: "button is-primary is-small" %>
  </div>
  <!--イベント一覧リンクボタン-->
  <div class="event-index-btn has-text-centered">
    <%= link_to "イベントを探す", events_path, local:true, class: "button is-info is-small" %>
  </div>
</div>

<!--タブメニュー-->
<div class="wrap">
  <ul id="tab-menu">
    <li><a href="#tab1" class="active">参加予定</a></li>
    <li><a href="#tab2" class="">参加済み</a></li>
    <li><a href="#tab3" class="">開催予定</a></li>
    <li><a href="#tab4" class="">開催済み</a></li>
  </ul>

  <div id="tab-contents" class="join-event-list columns">
    <!--参加予定イベント一覧-->
    <div id="tab1" class="tab column">
      <div class="join-event-content">
      <% @join_events.each do |join_event| %>
        <% if join_event.event.finished_at > DateTime.now %>
        <article class="box media" style="margin-bottom: 0px; margin-top: 0px;">
          <!--イベント終了時刻を過ぎていないイベントのみ-->
            <%= link_to event_path(join_event.event), local:true do %>
              <%= attachment_image_tag join_event.event, :event_image, :fill, 500, 500, format: "jpeg", fallback: "event.png" %>
            <% end %>
            <div class="media-content">
              <div class="content">
                <strong><%= join_event.event.name %></strong>
              </div>
              <small>開催日時<br><%= join_event.event.started_at.strftime("%Y年%-m月%-d日 %H時%M分") %></small>
            </div>
        </article>
        <% end %>
      <% end %>
      </div>
    </div>
    <!--参加済みイベント一覧-->
    <div id="tab2" class="tab column">
      <div class="joined-event-content">
      <% @join_events.each do |joined_event| %>
      <!--イベント終了時刻を過ぎたイベントのみ-->
        <% if joined_event.event.finished_at < DateTime.now %>
        <article class="box media" style="margin-bottom: 0px; margin-top: 0px;">
          <%= link_to event_path(joined_event.event), local:true do %>
            <%= attachment_image_tag joined_event.event, :event_image, :fill, 500, 500, format: "jpeg", fallback: "event.png" %>
          <% end %>
          <div class="media-content">
            <div class="content">
              <strong><%= joined_event.event.name %></strong>
            </div>
            <small>終了日時<br><%= joined_event.event.finished_at.strftime("%Y年%-m月%-d日 %H時%M分") %></small>
            <div>
            <% if joined_event.feedback == nil %>
              <%= link_to "評価する", event_event_member_path(joined_event.event_id, joined_event.id), method: :get, class: "button is-info is-small" %>
            <% else %>
              <%= link_to "評価を編集する", event_event_member_path(joined_event.event_id, joined_event.id), method: :get, class: "button is-light is-small" %>
            <% end %>
            </div>
          </div>
        </article>
        <% end %>
      <% end %>
      </div>
    </div>
    <!--開催予定イベント一覧-->
    <div id="tab3" class="tab column">
      <div class="host-event-content">
      <% @active_events.each do |active_event| %>
        <% if active_event.finished_at > DateTime.now %>
        <article class="box media" style="margin-bottom: 0px; margin-top: 0px;">
        <!--イベント終了時刻を過ぎていないイベントのみ-->
          <%= link_to event_path(active_event), local:true do %>
            <%= attachment_image_tag active_event, :event_image, :fill, 500, 500, format: "jpeg", fallback: "event.png" %>
          <% end %>
          <div class="media-content">
            <div class="content">
              <strong><%= active_event.name %></strong>
            </div>
            <small>開催日時<br><%= active_event.started_at.strftime("%Y年%-m月%-d日 %H時%M分") %></small><br>
            <%= link_to edit_event_path(active_event.id), class: "button is-light is-small" do %>
              <i class="fas fa-wrench"></i>　編集する
            <% end %>
          </div>
        </article>
        <% end %>
      <% end %>
      </div>
    </div>
    <!--開催済みイベント一覧-->
    <div id="tab4" class="tab column">
      <div class="finished-event-content">
      <% @finished_events.each do |finished_event| %>
        <% if finished_event.finished_at < DateTime.now %>
        <article class="box media" style="margin-bottom: 0px; margin-top: 0px;">
        <!--イベント終了時刻を過ぎているイベントのみ-->
          <%= link_to event_path(finished_event), local:true do %>
            <%= attachment_image_tag finished_event, :event_image, :fill, 500, 500, format: "jpeg", fallback: "event.png" %>
          <% end %>
          <div class="media-content">
            <div class="content">
              <strong><%= finished_event.name %></strong>
            </div>
            <small>終了日時<br><%= finished_event.finished_at.strftime("%Y年%-m月%-d日 %H時%M分") %></small>
          </div>
        </article>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>