  <div class="new-event-btn has-text-centered">
    <%= link_to "イベントを開催する", new_event_path, local:true, class: "button is-primary is-small" %>
  </div>

<section class="join-event-list columns is-desktop">
  <div class="join-event column">
    <h4>参加予定イベント</h4>
    <div class="join-event-content">
    <% @join_events.each do |join_event| %>
        <% if join_event.event.finished_at > DateTime.now %>
      <article class="box media" style="margin-bottom: 0px; margin-top: 0px;">
        <!--イベント終了時刻を過ぎていないイベントのみ-->
          <!--<figure class="media-left">-->
            <!--<p class="image">-->
              <%= link_to event_path(join_event.event), local:true do %>
                <%= attachment_image_tag join_event.event, :event_image, :fill, 50, 100, format: "jpeg", fallback: "event.png", size:'50x100' %>
              <% end %>
            <!--</p>-->
          <!--</figure>-->
          <div class="media-content">
            <div class="content">
              <strong><%= join_event.event.name %></strong>
            </div>
          </div>
          <div class="media-right">
            <small>
              開催日時：<%= join_event.event.started_at.strftime("%Y年%-m月%-d日 %H時%M分") %>
            </small>
          </div>
      </article>
        <% end %>
    <% end %>
    </div>
  </div>
  <div class="joined-event column">
    <h4>参加済みイベント</h4>
    <div class="joined-event-content">
    <% @join_events.each do |joined_event| %>
      <!--イベント終了時刻を過ぎたイベントのみ-->
      <% if joined_event.event.finished_at < DateTime.now %>
      <article class="box media" style="margin-bottom: 0px; margin-top: 0px;">
        <!--<figure class="media-left is-square is-48-48">-->
        <!--  <p class="image">-->
            <%= link_to event_path(joined_event.event), local:true do %>
              <%= attachment_image_tag joined_event.event, :event_image, :fill, 50, 100, format: "jpeg", fallback: "event.png", size:'50x100' %>
            <% end %>
        <!--  </p>-->
        <!--</figure>-->
        <div class="media-content">
          <!--<div class="content">-->
            <strong><%= joined_event.event.name %></strong>
            <%= link_to "評価する", event_event_member_path(joined_event.event_id, joined_event.id), method: :get, class: "button is-info is-small" %><br>
          <!--</div>-->
        </div>
        <div class="media-right">
          <small>
            終了日時：<%= joined_event.event.finished_at.strftime("%Y年%-m月%-d日 %H時%M分") %>
          </small>
        </div>
      </article>
      <% end %>
    <% end %>
    </div>
  </div>
</section>
<section class="host-event-list columns is-desktop">
  <div class="host-event column">
    <h4>開催予定イベント</h4>
    <div class="host-event-content">
    <% @active_events.each do |active_event| %>
      <% if active_event.finished_at > DateTime.now %>
      <article class="box media" style="margin-bottom: 0px; margin-top: 0px;">
      <!--イベント終了時刻を過ぎていないイベントのみ-->
        <!--<figure class="media-left is-square is-48-48">-->
        <!--  <p class="image">-->
            <%= link_to event_path(active_event), local:true do %>
              <%= attachment_image_tag active_event, :event_image, :fill, 50, 100, format: "jpeg", fallback: "event.png", size:'50x100' %>
            <% end %>
        <!--  </p>-->
        <!--</figure>-->
        <div class="media-content">
          <strong><%= active_event.name %></strong>
          <%= link_to edit_event_path(active_event.id), class: "button is-light is-small" do %>
            <i class="fas fa-wrench">　編集する</i>
          <% end %>
        </div>
        <div class="media-right">
          <small>開催日時：<%= active_event.started_at.strftime("%Y年%-m月%-d日 %H時%M分") %></small>
        </div>
      </article>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class="finished-event column">
    <h4>開催済みイベント</h4>
    <div class="finished-event-content">
    <% @finished_events.each do |finished_event| %>
      <% if finished_event.finished_at < DateTime.now %>
      <article class="box media" style="margin-bottom: 0px; margin-top: 0px;">
      <!--イベント終了時刻を過ぎているイベントのみ-->
        <!--<figure class="media-left is-square is-48-48">-->
        <!--  <p class="image">-->
            <%= link_to event_path(finished_event), local:true do %>
              <%= attachment_image_tag finished_event, :event_image, :fill, 50, 100, format: "jpeg", fallback: "event.png", size:'50x100' %>
            <% end %>
        <!--  </p>-->
        <!--</figure>-->
        <div class="media-content">
          <strong><%= finished_event.name %></strong>
        </div>
        <div class="media-right">
          <small>終了日時：<%= finished_event.finished_at.strftime("%Y年%-m月%-d日 %H時%M分") %></small>
        </div>
      </article>
      <% end %>
    <% end %>
    </div>
  </div>
</section>