<section class="events">
  <div class="event-content">
    <h4>イベント詳細</h4>
    <div class="event-info">
      <%= link_to member_path(@event.member.id) do %>
        <%= attachment_image_tag @event.member, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no-prof-image.png", size:"30x30", style: "border-radius: 50%;" %>
        <%= @event.member.account_name %>
      <% end %>さんのイベント<br>
      <div class="join-members">
        <% if @event.finished_at > DateTime.now %>
          ただいまの参加人数は<%= @event_members.count %>人です。<br>
        <% else %>
          参加人数は<%= @event_members.count %>人でした。<br>
        <% end %>
        <% @event_members.each do |event_member| %>
          <%= link_to member_path(event_member.member), local:true do %>
            <%= attachment_image_tag event_member.member, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no-prof-image.png", size:"30x30", style: "border-radius: 50%;" %>
          <% end %>
        <% end %><br>
      </div>
      <div class="event-detail">
        イベント名　　<%= @event.name %><br>
        開催日時　　　<%= @event.started_at.strftime("%Y年%-m月%-d日 %H時%M分") %><br>
        終了日時　　　<%= @event.finished_at.strftime("%Y年%-m月%-d日 %H時%M分") %><br>
        イベント内容　<%= @event.content %><br>
        ジャンル　　　<%= @event.genre.name %><br>
        場所　　　　　<%= @event.place %><br>
        参加費　　　　<%= @event.fee.to_i.to_s(:delimited) %>円<br>
        応募締切　　　<%= @event.expired_at.strftime("%Y年%-m月%-d日 %H時%M分") %><br>
      </div>
    </div>
    <div class="event-image">
      <%= attachment_image_tag @event, :event_image, :fill, 50, 25, format: "jpeg", fallback: "event.png", size:'300x200' %>
    </div>
    <div class="apply-btn">
      <% if current_member != @event.member %>
        <!--応募締め切り時間前かどうか-->
        <% if @event.expired_at > DateTime.now %>
          <!--申し込んだ人には非表示にする-->
          <% if @event.applied_by?(current_member) %>
            <%= link_to "キャンセル", event_event_member_path(@event.id, @event_member.id), method: :delete, "data-confirm" => "本当にキャンセルしますか？", class: "button is-warning is-small", style: "margin-left: 73%;"  %>
          <% else %>
            <%= link_to "申し込む", new_event_event_member_path(@event.id), method: :get, params: {member_id: current_member.id}, class: "button is-info is-small", style: "margin-left: 80%;"  %>
          <% end %>
        <% end %>
      <% else %>
        <!--開催者には編集リンクを表示 イベント応募締め切り後は編集不可-->
        <% if @event.expired_at > DateTime.now %>
          <%= link_to "編集する", edit_event_path(@event.id), method: :get, class: "button is-light" %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
<!--イベント終了時にフィードバックを表示-->
<section>
  <div class="feedback-list">
    <% if @event.finished_at < DateTime.now %>
      <h4>参加者の声</h4>
    <% end %>
    <div id="feedback-card">
    <% @event_members.each do |event_member| %>
      <% if event_member.feedback.present? %>
        <div class="card">
          <div class="card-image">
            <%= link_to member_path(event_member.member), local:true do %>
              <p class="feedback-image"><%= attachment_image_tag event_member.member, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no-prof-image.png", size:"50x50", style: "border-radius: 50%;" %></p>
            <% end %>
          </div>
          <div class="card-content">
            <%= link_to member_path(event_member.member), local:true do %>
              <%= event_member.member.account_name %>さん<br>
            <% end %>
            <%= event_member.feedback %>
            <% if current_member.id == event_member.member.id %>
              <%= link_to event_event_member_path(event_member.event.id, event_member.id) do %>
                <i class="fas fa-wrench"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>