<section class="event-detail">
  <h4>イベント詳細</h4>
    <div class="event-info">
      <%= link_to member_path(@event.member.id) do %>
        <%= attachment_image_tag @event.member, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg" %>
        <%= @event.member.account_name %>
      <% end %>さんのイベント<br>
      ただいまの参加人数は<%#= @event_members.count %>人です。
      <%# @event_members.each do |event_member| %>
        <%#= attachment_image_tag event_member, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg" %>
      <%# end %><br>
      イベント名　　<%= @event.name %><br>
      開催日時　　　<%= @event.started_at.strftime("%Y年%-m月%-d日 %H時%M分") %><br>
      終了日時　　　<%= @event.finished_at.strftime("%Y年%-m月%-d日 %H時%M分") %><br>
      イベント内容　<%= @event.content %><br>
      ジャンル　　　<%= @event.genre.name %><br>
      場所　　　　　<%= @event.place %><br>
      参加費　　　　<%= @event.fee %>円<br>
      応募締切　　　<%= @event.expired_at.strftime("%Y年%-m月%-d日 %H時%M分") %><br>
    </div>
    <div class="event-image">
      <%= attachment_image_tag @event, :event_image, :fill, 50, 25, format: "jpeg", fallback: "event_image.jpg", size:'300x200' %>
    </div>
    <div class="apply-btn">
      <%= button_to "申し込む", new_event_event_member_path(@event.id), method: :get %>
    </div>
</section>