    <% requested_posts.each do |requested| %>
      <article class="box media" style="margin-bottom: 0px; margin-top: 0px;">
        <figure class="media-left is-square is-48-48" style="width: 15%;">
          <p class="image">
            <%= link_to member_path(requested.member.id) do %>
              <%= attachment_image_tag requested.member, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no-prof-image.png", size: "50x50", style: "border-radius: 50%;" %><br>
            <% end %>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <strong><%= requested.member.account_name %></strong>
            <small>To:<%= requested.post.body %></small>
          </div>
          <%= button_to post_post_requests_path(requested.post.id), method: :patch, remote: true, params: {id: requested.id, is_accepted: true, is_requested: true}, class: "button is-primary is-small" do %>
            <i class="far fa-handshake"></i>　承認する
          <% end %>
        </div>
        <div class="media-right">
          <small><%= time_ago_in_words(requested.created_at) %>前</small>
        </div>
      </article>
    <% end %>