<!--ログインユーザへのリクエストで承認したもの-->
<% accept_posts.each do |accept| %>
  <article class="box media" style="margin-bottom: 0px; margin-top: 0px;">
    <figure class="media-left is-square is-48-48" style="width: 15%;">
      <p class="image">
        <%= link_to member_path(accept.member.id) do %>
          <%= attachment_image_tag accept.member, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no-prof-image.png", size: "30x30", style: "border-radius: 50%;" %><br>
        <% end %>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <strong><%= accept.member.account_name %></strong>
        <small>To:<%= accept.post.body %></small>
      </div>
      <%= button_to post_post_requests_path(accept.post.id), method: :patch, remote: true, params: {id: accept.id, is_accepted: false, is_requested: true}, class: "button is-warning is-small" do %>
        <i class="fas fa-handshake-slash"></i>　承認を取り消す
      <% end %>
    </div>
    <div class="media-right">
      <small><%= time_ago_in_words(accept.created_at) %>前</small>
    </div>
  </article>
<% end %>