<div class="request-lists">
  <section class="requested-lists">
    <!--マイページに凝縮？-->
    <h4>承認待ちリクエスト</h4>
    <% @requested_posts.each do |requested| %>
      <%= requested.post.body %>
      requested by
      <%= link_to member_path(requested.member.id) do %>
        <%= attachment_image_tag requested.member, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg", size: "30x30" %>
        <%= requested.member.account_name %>
      <% end %>
      <%= button_to "承認", post_post_requests_path(requested.post.id), method: :patch, remote: true, params: {id: requested.id, is_accepted: true, is_requested: true} %>
      <hr><br>
    <% end %>
  </section>
  <section class="accept-request">
    <h4>承認済みリクエスト</h4>
    <% @accept_posts.each do |accept| %>
      <%= accept.post.body %>
      requested by
      <%= link_to member_path(accept.member.id) do %>
        <%= attachment_image_tag accept.member, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg", size: "30x30" %>
        <%= accept.member.account_name %>
      <% end %>
      <%= button_to "拒否", post_post_requests_path(accept.post.id), method: :patch, remote: true, params: {id: accept.id, is_accepted: false, is_requested: true} %>
      <hr><br>
    <% end %>
  </section>

  <section class="requesting-lists">
    <h4>リクエスト中</h4>
    <% @requesting_posts.each do |requesting| %>
      <%= link_to member_path(requesting.post.member.id) do %>
        <%= attachment_image_tag requesting.post.member, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg", size: "30x30" %><br>
        <%= requesting.post.member.account_name %>
      <% end %>
      <%= requesting.post.body %><br>
      <% if requesting.is_accepted == true %>
        Accepted!
      <% else %>
        Waiting acceptance...
      <% end %>
      <hr>
    <% end %>
  </section>
</div>