<section class="request">
  <h4>承認待ちリクエスト</h4>
  <div class="waiting-list">
    <% @requested_posts.each do |requested| %>
      <article class="box media" style="margin-bottom: 0px; margin-top: 0px;">
        <figure class="media-left is-square is-48-48">
          <p class="image">
            <%= link_to member_path(requested.member.id) do %>
              <%= attachment_image_tag requested.member, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg", size: "30x30", class: "is-rounded" %><br>
            <% end %>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <strong><%= requested.member.account_name %></strong>
            <small>To:<%= requested.post.body %></small>
          </div>
          <%= button_to post_post_requests_path(requested.post.id), method: :patch, remote: true, params: {id: requested.id, is_accepted: true, is_requested: true} do %>
            <button class="button is-primary is-small">
              <span class="icon">
                <i class="far fa-handshake"></i>
              </span>
              <span>Accept</span>
            </button>
          <% end %>
        </div>
        <div class="media-right">
          <small><%= time_ago_in_words(requested.created_at) %>前</small>
        </div>
      </article>
    <% end %>
  </div>
  <h4>承認済みリクエスト</h4>
  <div class="accept-list">
    <% @accept_posts.each do |accept| %>
      <%= accept.post.body %>
      requested by
      <%= link_to member_path(accept.member.id) do %>
        <%= attachment_image_tag accept.member, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg", size: "30x30" %>
        <%= accept.member.account_name %>
      <% end %>
      <%= button_to "拒否", post_post_requests_path(accept.post.id), method: :patch, remote: true, params: {id: accept.id, is_accepted: false, is_requested: true} %>
      <hr><br>
    <% end %>
  </div>
  <h4>リクエスト中</h4>
  <div class="requesting-list">
    <% @requesting_posts.each do |requesting| %>
      <%= link_to member_path(requesting.post.member.id) do %>
        <%= attachment_image_tag requesting.post.member, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg", size: "30x30" %><br>
        <%= requesting.post.member.account_name %>
      <% end %>
      <%= requesting.post.body %><br>
      <% if requesting.is_accepted == true %>
        Accepted!
      <% else %>
        Waiting acceptance...
      <% end %>
      <hr>
    <% end %>
  </div>
</section>