<% posts.each do |post| %>
  <tr>
    <td>
      <%= attachment_image_tag post.member, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg", size:"30x30" %>
      <%= post.body %>
      @<%= post.address %>
      /ジャンル：<%= post.genre.name %>
      <%= time_ago_in_words(post.created_at) %>前
      <%= link_to post_comment_path(post.id) do %>
        <i class="far fa-comment-dots"></i>
      <% end %>
      <% if current_member.id == post.member.id %>
        <%= link_to edit_post_path(post.id) do %>
          <i class="fas fa-wrench"></i>
        <% end %>
        <%= link_to post_path(post.id), method: :delete, remote:true do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      <% end %>
    </td><br>
  </tr>
 <% end %>
