<div class="post-edit">
  <div class="post-edit-form">
    <!--モーダルウインドウにしたい-->
    <h4>投稿編集</h4>
    <%= form_with model: @post, local:true do |f| %>
      <%= render 'layouts/error', model: f.object%>
      <%= f.text_area :body, :size=>"40x3" %>
      <p><%= f.collection_select(:genre_id, @genres, :id, :name) %></p>
      <%= f.text_field :address, placeholder: "位置情報", class: "is-small" %>
      <%= f.submit "編集する", class: "button is-light is-small" %>
    <% end %>
  </div>
</div>