<div class="Timeline">
  <h4>タイムライン</h4>
  <% @posts.each do |post| %>
    <tr>
    <%= link_to member_path(post.member.id) do %>
      <%= attachment_image_tag post.member, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg" %><br>
      <%= post.member.account_name %>
    <% end %>
  　   <%= post.body %>
      /ジャンル：<%= post.genre.name %>
    <% if current_member.id == post.member.id %>
      <%= link_to edit_post_path(post.id) do %>
        <i class="fas fa-wrench"></i>
      <% end %>
      <%= link_to post_path(post.id), method: :delete do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    <% end %>
    <hr><br>
    </tr>
   <% end %>
</div>