<div class="Timeline">
  <h4>タイムライン</h4>
  <% @posts.each do |post| %>
    <tr>
    <%= link_to member_path(post.member.id) do %>
      <%= attachment_image_tag post.member, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg" %><br>
      <%= post.member.account_name %>
    <% end %>
  　   <%= post.body %>
      /ジャンル：<%= post.genre.name %>
      <%= time_ago_in_words(post.created_at) %> ago
      <%= link_to post_comment_path(post.id) do %>
        <i class="far fa-comment-dots"></i>
      <% end %>
    <% if current_member.id == post.member.id %>
      <%= link_to edit_post_path(post.id) do %>
        <i class="fas fa-wrench"></i>
      <% end %>
      <%= link_to post_path(post.id), method: :delete do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    <% else %>
      <% if post.requested_by?(current_member) %>
        <%= button_to "リクエストを取り消す", post_post_requests_path(post.id), method: :delete, remote: true %>
          <!--投稿に対するリクエストのなかでログインユーザのリクエストが承認されたかどうか-->
          <% if post.post_requests.find_by(member: current_member).is_accepted? %>
            Accepted!
          <% else %>
            Waiting acceptance...
          <% end %>
      <% else %>
        <%= button_to "リクエスト", post_post_requests_path(post.id), method: :post, remote: true %>
      <% end %>
    <% end %>
    <hr><br>
    </tr>
   <% end %>
</div>