<section class="Timeline">
  <div class="genre-search-form">
    <%= search_form_for @q do |f| %>
      <%= f.collection_select :genre_id_eq, @genres, :id, :name, :include_blank => 'ジャンル検索' %>
      <%= f.submit %>
    <% end %>
  </div>

  <div class="address-search-form">
    <%= search_form_for @q do |f| %>
    <%= f.search_field :address_cont, placeholder: "場所で検索" %>
    <%= f.submit %>
    <% end %>
  </div>



  <h4>タイムライン</h4>
  <div class="timeline">
    <% @posts.each do |post| %>
      <article class="box media" style="margin-bottom: 0px; margin-top: 0px;">
        <figure class="media-left is-square is-48-48">
          <p class="image">
            <%= link_to member_path(post.member.id) do %>
              <%= attachment_image_tag post.member, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg", size: "20x20", class: "is-rounded" %><br>
            <% end %>
            <%= post.member.account_name %>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p><%= post.body %> @<%= post.address %> <%= time_ago_in_words(post.created_at) %>前</p>
            <small>
              <%= link_to post_comment_path(post.id) do %>
                <i class="far fa-comment-dots"></i>
              <% end %>
              <% if current_member.id == post.member.id %>
                <%= link_to edit_post_path(post.id) do %>
                  <i class="fas fa-wrench"></i>
                <% end %>
                <%= link_to post_path(post.id), method: :delete do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              <% else %>
                <!--<small class="request-btn" id="post_<%#= post.id %>">-->
                  <% if post.requested_by?(current_member) %>
                    <%= button_to "リクエストを取り消す", post_post_requests_path(post.id), method: :delete, remote: true %>
                    <!--投稿に対するリクエストのなかでログインユーザのリクエストが承認されたかどうか-->
                      <% if post.post_requests.find_by(member: current_member).is_accepted? %>
                        Accepted!
                      <% else %>
                        Waiting acceptance...
                      <% end %>
                  <% else %>
                    <%= button_to "リクエスト", post_post_requests_path(post.id), method: :post, remote: true %>
                  <% end %>
                <!--</small>-->
              <% end %>
            </small>
          </div>
        </div>
      </article>
    <% end %>
  </div>
</section>

    <div id="map"></div>

<script>

var map

    function initMap(){
      geocoder = new google.maps.Geocoder()

      map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 39.68123620000001, lng:137.7671248},
          zoom: 5,
      });

      //each do をjs内で回すことで投稿ごとのデータを取得
      <% @posts.each do |post| %>
        //取得不可の位置情報が投稿された際に地図が非表示になるのを防止
        <% if post.latitude != nil %>
          (function(){
          var contentString = "住所：<%= post.address %>";

          var marker = new google.maps.Marker({
              position:{lat: <%= post.latitude %>, lng: <%= post.longitude %>},
              map: map,
              title: contentString
          });
          var infoWindow = new google.maps.InfoWindow({
              content: "<%= post.body %> by <a href='/members/<%= post.member.id %>'><%= post.member.account_name %></a><br><%= time_ago_in_words(post.created_at) %>前"
          });
          //情報ウインドウを開くイベントアクション
          google.maps.event.addListener(marker, 'click', function() {
              infoWindow.open(map, marker);
          });

          })();
        <% end %>
      <% end %>
      }



</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap">
</script>