<section class="chat-list">
  <h4>チャットルーム</h4>
  <div class="chat-room">
    <!--チャット相手一覧 変数定義rooms_helperに記載あり-->
    <% @rooms.each do |room| %>
      <%= link_to chat_path(opponent_member(room)) do %>
        <article class="box media" style="border-radius: 0px;">
          <figure class="media-left is-square">
            <p class="image">
              <%= attachment_image_tag opponent_member(room), :profile_image, :fill, 100, 100, format: "jpeg", fallback: "no-prof-image.png", size:'50x50', class: "is-rounded" %>
            </p>
          </figure>
          <div class="media-content">
            <p><strong><%= opponent_member_name(room) %></strong>
                <%= most_new_message_preview(room) %>
            </p>
          </div>
          <div class="media-right">
            <small><%= time_ago_in_words(room.chats.first.created_at) %>前</small>
          </div>
        </article>
      <% end %>
    <% end %>
  </div>
</section>
