
<% unless member_signed_in? %>
  <div class="guest-btn">
    <strong><%= link_to 'ゲストログイン（閲覧用）', members_guest_sign_in_path, method: :post, class: "button is-primary is-light" %></strong>
  </div>
<% end %>
<!--アプリキャッチフレーズ-->
<section id="about">
  <div class="columns main">
    <div class="illust illust1 column is-5">
      <%= image_tag "/illust01.png", size:"" %>
    </div>
    <div class="illust illust2 column is-7 is-offset-1 is-hidden-mobile">
      <%= image_tag "/illust02.png", size:"" %>
    </div>
    <div class="about-box">
      <h1 class="about-title">
      <span class="circle">Circle</span> builds relations</h1>
      <p class="about-sub-title">昨日の他人を、一生の友人へ。<br>Circleでキッカケ作り。</p>
      <p class="about-sub-title">一人も楽しい、<br>みんなとならもっと楽しい。</p>
    </div>
    <div class="illust illust3 is-hidden-mobile">
      <%= image_tag "/people01.png", size:"150x150" %>
    </div>
  </div>
  <div class="view-more-desktop is-hidden-mobile">
    <p class="view-more-word">view more</p>
    <i class="fas fa-angle-down view-more-icon"></i>
  </div>
  <div class="view-more-mobile is-hidden-desktop is-hidden-tablet">
    <p class="view-more-word">view more</p>
    <i class="fas fa-angle-down view-more-icon"></i>
  </div>
</section>
<!--アプリ使い方-->
<section class="service">
  <div class="service-step1 columns main">
    <div class="column service-box">
      <div class="how-to-box">
        <div class="how-to-title">
          <h1 class="how-to-Eng">How to use?</h1>
          <h1 class="how-to-Jp">使い方</h1>
        </div>
      </div>
      <div class="step-box1">
        <h1 class="step">Step1</h1>
        <h1 class="step-title">同じ仲間を見つけよう</h1>
      </div>
      <p class="step-info">
        <i class="fas fa-map-marker-alt" style="color: red;"></i>
        all activitiesでみんなの動きと位置をcheck!<br>
        あなたの近くに同じ趣味や同じ勉強をしている人がいるかも！
      </p>
    </div>
    <div class="step1-illust column">
      <%= image_tag "/step1-image.png", size:"" %>
    </div>
  </div>
</section>
<section class="service">
  <div class="service-step2 columns main">
    <div class="step2-illust column is-hidden-mobile">
      <%= image_tag "/step2-image.png", size:"250x250" %>
    </div>
    <div class="column service-box">
      <div class="step-box2">
        <h1 class="step">Step2</h1>
        <h1 class="step-title">声かけリクエストを送ろう</h1>
      </div>
      <p class="step-info">
        近くの人にリクエストを送って、声かけOKかcheck!<br>
        あの人、同じこと勉強してるのに急に声かけるのはハードル高いなあ...<br>
        Circleならボタン一つでリクエスト！
      </p>
    </div>
    <div class="step2-illust column is-hidden-desktop is-hidden-tablet">
      <%= image_tag "/step2-image.png", size:"250x300" %>
    </div>
  </div>
</section>
<section class="service">
  <div class="service-step3 columns main">
    <div class="column service-box">
      <div class="step-box3">
        <h1 class="step">Step3</h1>
        <h1 class="step-title">実際に声をかけてみよう</h1>
      </div>
      <p class="step-info">
        リクエストが承認されたら、実際に話しかけてみよう！<br>
        新たな出会いが新たなアイデア、新たな人脈を創出することでしょう！
      </p>
    </div>
    <div class="step3-illust column">
      <%= image_tag "/step3-image.png", size:"" %>
    </div>
  </div>
</section>
<!--イベント機能紹介-->
<section class="service">
  <div class="service-event columns main">
    <div class="column service-box">
      <div class="how-to-box">
        <div class="how-to-title">
          <h1 class="how-to-Eng">Event</h1>
          <h1 class="how-to-Jp">イベントを楽しもう</h1></h1>
        </div>
      </div>
      <p class="service-event-info">
        好きなイベントを開催して、仲間を集めよう！<br>
        気になるイベントに参加して、輪を広げよう！<br>
      </p>
      <p class="event-payment-info">
        参加費は完全手渡し制だから、<br>
        カードや銀行振り込みが怖い人も安心！
      </p>
    </div>
    <div class="step1-illust column">
      <%= image_tag "/event-image.png", size:"" %>
    </div>
  </div>
</section>
<div class="inquiry-btn-mobile is-hidden-desltop is-hidden-tablet">
  <%= link_to "お問い合わせ", new_inquiry_path, method: :get, class: "button is-dark is-light is-rounded" %>
</div>