<!--ゲストログインボタン-->
<% unless member_signed_in? %>
  <div class="guest-btn">
    <strong><%= link_to 'ゲストログイン（閲覧用）', members_guest_sign_in_path, method: :post, class: "button is-primary is-light" %></strong>
    <span class="please">感想やアドバイス頂けると嬉しいです!</span>
  </div>
<% end %>
<!--アプリキャッチフレーズ　タイトル-->
<section id="about">
  <div class="columns main">
    <div class="illust illust1 column is-5">
      <%= image_tag "/illust01.png", size:"" %>
    </div>
    <div class="illust illust2 column is-7 is-offset-1 is-hidden-mobile">
      <%= image_tag "/illust02.png", size:"" %>
    </div>
    <div class="about-box">
      <h1 class="about-title">
      <span class="circle">Circle</span> builds relations</h1>
      <p class="about-sub-title">昨日の他人を一生の友人へ。<br>Circleでキッカケ作り。</p>
      <p class="about-sub-title">一人も楽しい、<br>みんなとならもっと楽しい。</p>
    </div>
    <div class="illust illust3 is-hidden-mobile">
      <%= image_tag "/people01.png", size:"150x150" %>
    </div>
  </div>
  <!--デスクトップ用view-more-->
  <div class="view-more-desktop is-hidden-mobile">
    <p class="view-more-word">
      view more
    </p>
    <i class="fas fa-angle-down view-more-icon"></i>
  </div>
  <!--モバイル用view-more-->
  <div class="view-more-mobile is-hidden-desktop is-hidden-tablet">
    <%= link_to "#service" do %>
      <p class="view-more-word">
        view more
      </p>
      <i class="fas fa-angle-down view-more-icon"></i>
    <% end %>
  </div>
</section>
<!--アプリ使い方-->
<section class="service" id="service">
  <!--使い方ステップ１-->
  <div class="service-step1 columns main">
    <div class="column service-box">
      <div class="how-to-box">
        <div class="how-to-title">
          <h1 class="how-to-Eng">How to use?</h1>
          <h1 class="how-to-Jp">使い方</h1>
        </div>
      </div>
      <div class="step-box1">
        <h1 class="step">Step1</h1>
        <h1 class="step-title">近くの同じ仲間を見つけよう</h1>
      </div>
      <p class="step-info">
        <i class="fas fa-map-marker-alt" style="color: red;"></i>
        All Activitiesでみんなの動きと位置をcheck!<br>
        あなたの近くに同じ趣味や同じ勉強をしている人がいるかも！
      </p><br>
      <div class="step-detail is-hidden-mobile">
        <p>「あ！あの人も〇〇の勉強してる！」「あの人たちに混ざってみたいなあ...」</p><br>
        <p>そんな風に思ったことありませんか？</p><br>
        <p>あなたの周りにはきっかけさえあれば仲良くなれる人がたくさんいます</p>
        <p class="step1-image02"><%= image_tag "/step1-image02.png", size:"150x100" %></p>
      </div>
    </div>
    <div class="step1-illust column">
      <%= image_tag "/step1-image.png", size:"" %>
    </div>
  </div>
</section>
<section class="service">
  <!--使い方ステップ２-->
  <div class="service-step2 columns main">
    <div class="step2-illust column is-hidden-mobile">
      <%= image_tag "/step2-image.png", size:"250x250" %>
      <p class="step2-image02">
      <%= image_tag "/step2-image02.png", size:"250x250" %>
      </p>
    </div>
    <div class="column service-box">
      <div class="step-box2">
        <h1 class="step">Step2</h1>
        <h1 class="step-title">声かけリクエストを送ろう</h1>
      </div>
      <div class="step-info">
        <p>近くの人にリクエストを送って、声をかけても良いかCheck!</p><br>
        <p>「あの人、自分と同じことしてるのに急に話しかけるのはハードル高いなあ...」<br>
           「急に話しかけて変な空気になったらどうしよう...」
        </p><br>
        <p>Circleならボタン一つで確認するだけなので、無駄な心配の必要なし！</p>
      </div>
    </div>
    <div class="step2-illust column is-hidden-desktop is-hidden-tablet">
      <%= image_tag "/step2-image.png", size:"250x300" %>
    </div>
  </div>
</section>
<section class="service">
  <!--使い方ステップ３-->
  <div class="service-step3 columns main">
    <div class="column service-box">
      <div class="step-box3">
        <h1 class="step">Step3</h1>
        <h1 class="step-title">実際に声をかけてみよう</h1>
      </div>
      <div class="step-info">
        <p>リクエストが承認されたら、チャットで挨拶をして実際に現実世界で声をかけてみよう！</p><br>
        <p>新たな出会いが新たなアイデア・新たな人脈を生むでしょう！</p>
        <p class="step3-image02 is-hidden-mobile">
          <%= image_tag "/step3-image02.png", size:"300x150" %>
        </p>
      </div>
    </div>
    <div class="step3-illust column">
      <%= image_tag "/step3-image.png", size:"" %>
    </div>
  </div>
</section>
<!--イベント機能紹介-->
<section class="service">
  <div class="service-event columns main">
    <div class="column service-box">
      <div class="how-to-box">
        <div class="how-to-title">
          <h1 class="how-to-Eng">Event</h1>
          <h1 class="how-to-Jp">イベントを楽しもう</h1></h1>
        </div>
      </div>
      <p class="service-event-info">
        好きなイベントを開催して、仲間を集めよう！<br>
        気になるイベントに参加して、輪を広げよう！<br>
      </p>
      <p class="event-payment-info">
        参加費は完全手渡し制だから、<br>
        カードや銀行振り込みが怖い人も安心！
      </p>
    </div>
    <div class="step1-illust column">
      <%= image_tag "/event-image.png", size:"" %>
    </div>
  </div>
</section>
<!--お問い合わせボタン(携帯用)-->
<div class="inquiry-btn-mobile is-hidden-desktop is-hidden-tablet">
  <%= link_to "お問い合わせ", new_inquiry_path, method: :get, class: "button is-dark is-light is-rounded" %>
</div>