<div class="reset-password">
  <div class="reset-form">
    <h4>パスワード再設定</h4>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "members/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
      </div>

      <div class="actions">
        <%= f.submit "送信", class:"button is-info" %>
      </div>
    <% end %>

    <%= render "members/shared/links" %>
  </div>
</div>