<div class="chat-to">
  <!--rooms_helperでチャット相手の定義付け-->
  <h4><%= opponent_member_name(@room) %>さんとのチャットルーム</h4>
</div>
<div id="message">
  <%= render 'public/chats/messages', chats: @chats %>
</div>
<div class="message-area">
  <div class="message-form">
    <%= form_with model: @chat do |f| %>
    <%= render 'layouts/error', model: f.object %>
      <%= f.text_area :message, :size=>"40x2" %>
      <%= f.hidden_field :room_id %>
      <%= f.button :type => "submit", class: "button" do %>
        <i class="fas fa-paper-plane"></i>
      <% end %>
    <% end %>
  </div>
</div>
