<div class="chat-to">
  <h4><%= @member.account_name %>さんとのチャットルーム</h4>
</div>
<div id="message">
  <%= render 'public/chats/messages', chats: @chats %>
</div>
<div class="message-form">
    <%= form_with model: @chat do |f| %>
    <%= render 'layouts/error', model: f.object%>
    <%= f.text_field :message %>
    <%= f.hidden_field :room_id %>
    <% end %>
</div>

