<!--プロフィール-->
<div class="profile column">
  <article class="box media" style="margin: -12px -12px 0px; border-radius: 0px;">
    <figure class="media-left is-square is-48-48">
      <p class="prof-image">
        <%= attachment_image_tag @member, :profile_image, :fill, 500, 500, format: 'jpeg', fallback: "no-prof-image.png", size: "100x100", style: "border-radius: 50%;" %><br>
      </p>
      <strong>
        <%= @member.account_name %>
      </strong>
    </figure>
    <div class="media-content">
      <div class="content">
        <p class="introduction" style="margin-top: 20px;"><%= safe_join("#{@member.introduction}".split("\n"),tag(:br)) %></p>
        <div class="counts">
          <div class="follow_count" style="margin-right: 15px">
            フォロー <%= render 'public/relationships/following_count', member: @member %>
          </div>
          <div class="follower_count" style="margin-right: 15px">
            フォロワー <%= render 'public/relationships/follower_count', member: @member %>
          </div>
        </div>
        <div class="follow_form" style="margin-top: 10px;">
          <% unless current_member == @member %>
            <% unless current_member.following?(@member) %>
              <%= render 'public/relationships/follow_btn', member: @member %>
            <% else %>
              <%= render 'public/relationships/unfollow_btn', member: @member %>
            <% end %>
          <% end %>
        </div>
        <div class="option-form" style="margin-top: 10px;">
          <% if current_member.id == @member.id %>
            <%= link_to edit_member_path(@member), class: "button is-light is-small" do%>
              <i class="fas fa-user-cog"></i>　プロフィールを編集
            <% end %>
            <!--投稿モーダルウインドウ-->
            <a class="button is-small is-primary new-post-btn" style="margin-left:30px;" id="show_action">
              <i class="fas fa-plus-circle"></i>　<strong>新規投稿</strong>
            </a>
          <% else %>
            <%= link_to chat_path(@member), class: "button is-normal is-small" do %>
              <i class="far fa-paper-plane"></i>　メッセージを送る
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </article>
</div>
<!--自分の投稿タイムライン-->
<div class="timeline column" style="margin-left: -12px; margin-right: -12px; margin-top: -23px;">
  <div class="timeline-content">
    <% @posts.each do |post| %>
      <article class="box media" style="margin-bottom: 0px; margin-top: 0px; border-radius: 0px;">
        <figure class="media-left is-square is-48-48">
          <p class="image">
            <%= link_to member_path(post.member.id) do %>
              <%= attachment_image_tag post.member, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no-prof-image.png", style: "border-radius: 50%;" %><br>
            <% end %>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p><%= safe_join(post.body.split("\n"),tag(:br)) %><br>
              <i class="fas fa-map-marker-alt"></i>
              <small><%= post.address %></small><br>
              <i class="fas fa-tags"></i>
              <small><%= post.genre.name %></small>
            </p>
            <small>
              <%= link_to post_comment_path(post.id) do %>
                <i class="far fa-comment-dots comment-icon"></i> <%= post.post_comments.count %>件
              <% end %>
              <% if current_member.id == post.member.id %>
                <%= link_to edit_post_path(post.id) do %>
                  <i class="fas fa-wrench post-edit-icon"></i>
                <% end %>
                <%= link_to post_path(post.id), method: :delete do %>
                  <i class="far fa-trash-alt post-delete-icon"></i>
                <% end %>
              <% else %>
                <!--非同期通信 リクエストボタン-->
                <div class="request-btn" id="post_<%= post.id %>">
                  <%= render "public/post_requests/request-btn", post: post %>
                </div>
              <% end %>
            </small>
          </div>
        </div>
        <div class="media-right">
          <small><%= time_ago_in_words(post.created_at) %>前</small>
        </div>
      </article>
    <% end %>
  </div>
</div>

<!--新規投稿モーダルウインドウ-->
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="notification is-white">
        <% if current_member.id == @member.id %>
          <div class="post-form">
            <h4><strong>新規投稿</strong></h4>
              <div class="field">
                <p class="control">
              <%= form_with model: @post do |f| %>
                <%= render 'layouts/error', model: f.object%>
                <%= f.text_area :body, :size=>"30x5" %><br>
                <span class="select is-normal">
                <%= f.collection_select :genre_id, @genres, :id, :name, :include_blank => '🔍 ジャンル'  %>
                </span><br>
                <%= f.text_field :address, placeholder: "位置情報", value: "", class: "is-small" %>
                <%= f.submit "投稿", class: "button is-primary", style: "margin-top: 30px; margin-left: 73%;" %>
              <% end %>
                </p>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  <button class="modal-close is-large" aria-label="close"></button>
  </div>

  <!--bulmaモーダルウインドウ用js読み込み-->
  <script async type="text/javascript" src="../js/bulma.js"></script>
  <script async type="text/javascript" src="../js/form.js"></script>

