<!--プロフィール-->
<div class="profile column">
  <article class="box media" style="margin: -12px -12px 0px; border-radius: 0px;">
    <figure class="media-left is-square is-48-48">
      <p class="prof-image">
        <%= attachment_image_tag @member, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %><br>
      </p>
      <strong>
        <%= @member.account_name %>
      </strong>
    </figure>
    <div class="media-content">
      <div class="content">
        <p class="introduction" style="margin-top: 20px;"><%= @member.introduction %></p>
        <div class="counts">
          <div class="follow_count" style="margin-right: 15px">
            フォロー数: <%= render 'public/relationships/following_count', member: @member %>
          </div>
          <div class="follower_count" style="margin-right: 15px">
            フォロワー数: <%= render 'public/relationships/follower_count', member: @member %>
          </div>
          <div class="follow_form">
            <% unless current_member == @member %>
              <% unless current_member.following?(@member) %>
                <%= render 'public/relationships/follow_btn', member: @member %>
              <% else %>
                <%= render 'public/relationships/unfollow_btn', member: @member %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="option-form">
          <% if current_member.id == @member.id %>
            <%= link_to edit_member_path(@member), class: "button is-light is-small" do%>
              <i class="fas fa-user-cog"></i>　プロフィールを編集
            <% end %>
          <% else %>
            <%= link_to chat_path(@member), class: "button is-normal is-small" do %>
              <i class="far fa-paper-plane"></i>　メッセージを送る
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </article>
</div>
<!--自分の投稿タイムライン-->
<div class="timeline-container">
  <h4>マイタイムライン</h4>
  <p class="notice">
   <%= notice %>
  </p>
    <table class="my-timeline">
      <% @posts.each do |post| %>
        <tr>
          <td>
            <%= attachment_image_tag post.member, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg", size:"30x30" %>
          </td>
          <td>
            <%= post.body %>
          </td>
          <td>
            @<%= post.address %>
          </td>
          <td>
            /ジャンル：<%= post.genre.name %>
          </td>
          <td>
            <%= time_ago_in_words(post.created_at) %>前
          </td>
          <td>
            <%= link_to post_comment_path(post.id) do %>
              <i class="far fa-comment-dots"></i>
            <% end %>
            <% if current_member.id == post.member.id %>
              <%= link_to edit_post_path(post.id) do %>
                <i class="fas fa-wrench"></i>
              <% end %>
              <%= link_to post_path(post.id), method: :delete, remote:true do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
     <% end %>
    </table>
 </div>
<!--投稿フォーム-->
<% if current_member.id == @member.id %>
<div class="post-form">
  <h4>新規投稿</h4>
  <%= form_with model: @post do |f| %>
    <%= render 'layouts/error', model: f.object%>
    <%= f.text_area :body %>
    <%= f.collection_select(:genre_id, @genres, :id, :name) %><br>
    <%= f.text_field :address, placeholder: "位置情報", value: "" %>
    <%= f.submit "投稿" %>
  <% end %>
</div>
<% end %>
