<!--プロフィール-->
<div class="profile-field">
  <h4>プロフィール</h4>
  <%= attachment_image_tag @member, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %><br>
  <%= @member.account_name %><br>
  <div class="follow_count">
    フォロー数: <%= render 'public/relationships/following_count', member: @member %>
  </div>
  <div class="follower_count">
    フォロワー数: <%= render 'public/relationships/follower_count', member: @member %>
  </div>
  <div class="follow_form">
    <% unless current_member == @member %>
      <% unless current_member.following?(@member) %>
        <%= render 'public/relationships/follow_btn', member: @member %>
      <% else %>
        <%= render 'public/relationships/unfollow_btn', member: @member %>
      <% end %>
    <% end %>
  </div>
  <%= @member.introduction %><br>
  <% if current_member.id == @member.id %>
    <%= link_to '編集', edit_member_path(@member) %>
  <% else %>
    <%= link_to chat_path(@member) do %>
      <button type="button" class="btn btn-secondary rounded-circle p-0" style="width:2rem;height:2rem;">
        <i class="fas fa-envelope"></i>
      </button>
    <% end %>
  <% end %>
</div>

<!--自分の投稿タイムライン-->
<div class="timeline">
  <h4>マイタイムライン</h4>
   <% @posts.each do |post| %>
    <tr>
    <%= attachment_image_tag post.member, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg" %>
  　<%= post.body %>
    /ジャンル：<%= post.genre.name %>
    <%= time_ago_in_words(post.created_at) %> ago
    <%= link_to post_comment_path(post.id) do %>
      <i class="far fa-comment-dots"></i>
    <% end %>
    <% if current_member.id == post.member.id %>
      <%= link_to edit_post_path(post.id) do %>
        <i class="fas fa-wrench"></i>
      <% end %>
      <%= link_to post_path(post.id), method: :delete do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    <% end %>
    <hr><br>
    </tr>
   <% end %>
</div>

<!--投稿フォーム-->
<% if current_member.id == @member.id %>
<div class="post-form">
  <h4>新規投稿</h4>
  <%= form_with model: @post, local: true do |f| %>
    <%= f.text_area :body %>
    <%= f.collection_select(:genre_id, @genres, :id, :name) %>
    <%= f.submit "投稿" %>
  <% end %>
</div>
<% end %>