<div class="genres">
  <h4>ジャンル一覧</h4>
  <table class="genre-table">
    <thead>
      <tr>
        <td>ジャンル名</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.name %></td>
        <td>
          <%= link_to "削除", admin_genre_path(genre), method: :delete %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <h4>ジャンル作成</h4>
  <%= form_with model: [:admin, @genre], method: :post, local:true do |f| %>
    <div class="genre-form">
      <%= f.label :name %>
      <%= f.text_field :name, :placeholder => "ジャンル名" %>
      <%= f.submit '登録' %>
    </div>
  <% end %>
</div>