<div class="genres">
  <h4>ジャンル一覧</h4>
    <div class="genre-list">
      <% @genres.each do |genre| %>
        <%= genre.name %>
        <%= link_to "削除", admin_genre_path(genre), method: :delete %><br>
      <% end %>
    </div>
  <h4>ジャンル作成</h4>
  <%= form_with model: [:admin, @genre], method: :post, local:true do |f| %>
  　<%= render 'layouts/error', model: f.object%>
    <div class="genre-form">
      <%= f.text_field :name, :placeholder => "ジャンル名" %>
      <%= f.submit '登録' %>
    </div>
  <% end %>
</div>