  <% post_comments.each do |post_comment| %>
    <article class="media">
    <%= link_to member_path(post_comment.member.id) do %>
    <figure class="media-left">
      <p class="image">
        <%= attachment_image_tag post_comment.member, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg", size:"30x30", style: "border-radius: 50%;" %>
      </p>
      <strong><%= post_comment.member.account_name %></strong>
    </figure>
    <% end %>
    <div class="media-content">
      <%= post_comment.comment %>
      <% if current_member.id == post_comment.member.id %>
        <%= link_to post_comment_path(post_comment.id), method: :delete, remote:true do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>
    </article>
  <% end %>