<!--ヘッダーメニュー-->
<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <%= link_to root_path, local:true do %>
      <p class="logo"><%= image_tag "/Circle_logo.png", size:"130x130" %></p>
    <% end %>
    <div class="navbar-burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <% if member_signed_in? %>
      <div class="navbar-end">
        <%= link_to root_path, class: "navbar-item" do %>
          <span style="margin-right: 3px;"><strong>Top</strong></span><i class="fas fa-home"></i>
        <% end %>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to member_path(current_member), class: "navbar-link" do %>
            <strong>Me</strong>
            <%= attachment_image_tag current_member, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no-prof-image.png", size:"50x50", style: "border-radius: 50%;", class: "is-hidden-mobile" %>
          <% end %>
          <div class="navbar-dropdown is boxed">
            <%= link_to "My Page", member_path(current_member), class: "navbar-item" %>
            <%= link_to "My Event", events_myevent_path, class: "navbar-item" %>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to posts_path, class: "navbar-link" do %>
            <span style="margin-right: 3px;"><strong>Timeline</strong></span><i class="fas fa-map-marker-alt" style="color: red;"></i>
          <% end %>
          <div class="navbar-dropdown is boxed">
            <%= link_to "Timeline", posts_path, class: "navbar-item" %>
            <%= link_to "Events", events_path, class: "navbar-item" %>
          </div>
        </div>
        <div class="info-bar navbar-item has-dropdown is-hoverable">
          <% if unchecked_notifications.any? %>
            <i class="info-alert fa fa-circle is-hidden-mobile" style="color: #fc4949;"></i>
            <p class="info-count is-hidden-mobile"><%= unchecked_notifications.count %></p>
          <% end %>
          <%= link_to notifications_path, class: "navbar-link" do %>
            <span style="margin-right: 3px;"><strong>Information</strong></span><i class="fas fa-bell" style="color: #FFD151;"></i>
          <% end %>
          <div class="navbar-dropdown is boxed">
            <%= link_to "Requests", post_requests_waiting_path, class: "navbar-item" %>
            <%= link_to "Messages", rooms_path, class: "navbar-item" %>
            <%= link_to "News", notifications_path, class: "navbar-item" %>
          </div>
        </div>
        <%= link_to destroy_member_session_path, method: :delete, class: "navbar-item" do %>
          <span style="margin-right: 3px;"><strong>Logout</strong></span><i class="fas fa-sign-out-alt"></i>
        <% end %>
      </div>
    <% elsif admin_signed_in? %>
      <div class="navbar-end">
        <%= link_to "Members", admin_root_path, class: "navbar-item" %>
        <%= link_to "Events", admin_events_path, class: "navbar-item" %>
        <%= link_to "Genres", admin_genres_path, class: "navbar-item" %>
        <%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "navbar-item" %>
      </div>
    <% else %>
      <div class="navbar-end">
        <strong><%= link_to "Sign Up", new_member_registration_path, class: "navbar-item" %></strong>
        <strong><%= link_to "Log In", new_member_session_path, class: "navbar-item" %></strong>
      </div>
    <% end %>
  </div>
</nav>

<!--ハンバーガーメニュー用js-->
<script>
$(document).ready(function() {
  $(".navbar-burger").click(function() {
    $(".navbar-burger").toggleClass("is-active");
    $(".navbar-menu").toggleClass("is-active");
  });
});
</script>