<!DOCTYPE html>
<html>
  <head>
    <title>Circle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" defer ></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <%= include_gon %>
    <!-- google map使用の為、turbolinksを無効化?,,すると他ページで非同期処理できない、、、-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
    <div class="tabs">
    <ul class="nav-list">
    <% if member_signed_in? %>
    <p>welcome back! <%= current_member.account_name %> さん</p>
      <li class="nav-list-item">
        <%= link_to "マイページ", member_path(current_member) %>
      </li>
      <li class="nav-list-item">
        <%= link_to "マイイベント", events_myevent_path %>
      </li>
      <li class="nav-list-item">
        <%= link_to "チャットルーム", rooms_path %>
      </li>
      <li class="nav-list-item">
        <%= link_to "投稿一覧", posts_path %>
      </li>
      <li class="nav-list-item">
        <%= link_to "リクエスト一覧", post_requests_waiting_path %>
      </li>
      <li class="nav-list-item">
        <%= link_to "イベント一覧", events_path %>
      </li>
      <li class="nav-list-item">
        <%= link_to "通知一覧", notifications_path %>
      </li>
      <li class="nav-list-item">
        <%= link_to "ログアウト", destroy_member_session_path, method: :delete %>
      </li>
    <% elsif admin_signed_in? %>
    <p>管理者様、今日もお疲れ様です！</p>
      <li class="nav-list-item">
        <%= link_to "会員一覧", admin_root_path %>
      </li>
      <li class="nav-list-item">
        <%= link_to "イベント一覧", admin_events_path %>
      </li>
      <li class="nav-list-item">
        <%= link_to "ジャンル一覧", admin_genres_path %>
      </li>
      <li class="nav-list-item">
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      </li>
    <% else %>
      <li class="nav-list-item">
        <%= link_to "新規登録", new_member_registration_path %>
      </li>
      <li class="nav-list-item">
        <%= link_to "ログイン", new_member_session_path %>
      </li>
    <% end %>
    </ul>
    </div>
    </header>
    <div class="main">
    <%= yield %>
    </div>
    <footer>
      <div class="inquiry-btn">
        <%= link_to "お問い合わせ", new_inquiry_path, method: :get, class: "button is-dark is-small" %>
      </div>
    </footer>
  </body>
</html>
