<!DOCTYPE html>
<html>
  <head>
    <title>Circle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <ul class="nav-list">
    <% if member_signed_in? %>
      <li class="nav-list-item">
        <%= link_to "マイページ", member_path(current_member) %>
      </li>
      <li class="nav-list-item">
        <%= link_to "ログアウト", destroy_member_session_path, method: :delete %>
      </li>
    <% elsif admin_signed_in? %>
      <li class="nav-list-item">
        <%= link_to "ジャンル一覧", admin_genres_path %>
      </li>
      <li class="nav-list-item">
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      </li>
    <% else %>
      <li class="nav-list-item">
        <%= link_to "新規登録", new_member_registration_path %>
      </li>
      <li class="nav-list-item">
        <%= link_to "ログイン", new_member_session_path %>
      </li>
    <% end %>
    </ul>
    </header>
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
